<h1><%=link_to @car.brand.name, @car.brand %> - <%= @car.model %></h1>
<h2>Owner: <%=link_to @car.owner.name, @car.owner %></h2>
<h2>Mechanic: <%=link_to @car.mechanic.name, @car.mechanic %></h2>

<%= link_to "EDIT", edit_car_path(@car) %>
